<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h5 class="card-title">Project details</h5>
        </div>
        <div class="row mb-3">
            <div class="col-lg-5">
                <table class="borderless-table">
                    <tbody>
                        <tr>
                            <td>Project name</td>
                            <td>:</td>
                            <td>{{projectDetails.project_name}}</td>
                        </tr>
                        <tr>
                            <td>Platform:</td>
                            <td>:</td>
                            <td>{{projectDetails.platform}}</td>
                        </tr>
                        <tr>
                            <td>Client</td>
                            <td>:</td>
                            <td>{{projectDetails.client_name}}</td>
                        </tr>
                        <tr>
                            <td>Client mobile:</td>
                            <td>:</td>
                            <td>{{projectDetails.mobile}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-5">
                <table class="borderless-table">
                    <tbody>
                        <tr>
                            <td>Status</td>
                            <td>:</td>
                            <td><span class="badge " [ngClass]="GetStatusColor(projectDetails.status)">{{projectDetails.status}}</span></td>
                        </tr>
                        <tr>
                            <td>Reference:</td>
                            <td>:</td>
                            <td>{{projectDetails.reference}}</td>
                        </tr>
                        <tr>
                            <td>Note</td>
                            <td>:</td>
                            <td>{{projectDetails.note}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="progress progress-striped active m-b-sm">
                    <div style="width: {{projectDetails.completionPercentage}}%;" class="progress-bar bg-success">{{projectDetails.completionPercentage}}%</div>
                </div>
                <small>Project completed in <strong>{{projectDetails.completionPercentage}}%</strong>.</small>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h5 class="card-title">Participants</h5>
        </div>
        <div class="row">
            <div class="user col-auto" *ngFor="let staff of projectDetails.staffs">
                <img alt="image" class="img-circle" src="assets/img/avatars/user.png">
                <div class="text-center">{{staff.staff_id}}</div>
                <div class="text-center">{{staff.name}}</div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Activity</h5>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Status</th>
                <th>Title</th>
                <th>Start Time</th>
                <th>Update Time</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of projectDetails.tasks">
                <td class="text-center">
                    <span class="badge bg-secondary" *ngIf="task.status == 'pending'">pending</span>
                    <span class="badge bg-warning" *ngIf="task.status == 'inProgres'">inProgres</span>
                    <span class="badge bg-success" *ngIf="task.status == 'completed'">completed</span>
                </td>
                <td>
                   {{task.title}}
                </td>
                <td>
                   {{task.createdAt | date:'yyyy-MM-dd h:mm a'}}
                </td>
                <td>
                    {{task.updatedAt | date:'yyyy-MM-dd h:mm a'}}
                </td>
                <td>
                <p class="small">
                    {{task.description}}
                </p>
                </td>
            </tbody>
        </table>
    </div>
</div>