/* Custom CSS for a borderless table */
.borderless-table {
    border-collapse: collapse;
    width: 100%;
}
  
.borderless-table th,
.borderless-table td {
    border: none; 
    padding: 8px; 
    text-align: left; 
}
  
.borderless-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.borderless-table tr td:first-child,
.borderless-table tr td:nth-child(2)
{
    font-weight: bold;
}
  

.img-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ccc;
}

.user {
    text-align: center;
}

.user a {
    display: block;
    margin-bottom: 10px;
  } 