.borderless-table {
    border-collapse: collapse;
    width: 100%;
}
  
.borderless-table th,
.borderless-table td {
    border: none; 
    padding: 8px; 
    text-align: left; 
}
  
.borderless-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.borderless-table tr td:first-child,
.borderless-table tr td:nth-child(2)
{
    font-weight: bold;
}

.file 
{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: #949494;
}

.file img
{
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top:0;
    left: 0;
}

.overlay.hide
{
    display: none;
}

.overlay button
{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    padding: 2px 8px;
}

.overlay iframe
{
    width: 80%;
    height: 90%;

}

.overlay img
{
    width: 80%;
    height: 90%;
}

.overlay .error
{
    width: 30%;
    height: 20%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay .error h3
{
    color: #9e9e9e;

}