<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar" data-simplebar="init">
       <div class="simplebar-wrapper" style="margin: 0px;">
          <div class="simplebar-height-auto-observer-wrapper">
             <div class="simplebar-height-auto-observer"></div>
          </div>
          <div class="simplebar-mask">
             <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                   <div class="simplebar-content" style="padding: 0px;">
                      <a class="sidebar-brand" href="/">
                      <span class="align-middle">Staff profile</span>
                      </a>
                      <ul class="sidebar-nav">
                          <li class="sidebar-item " routerLinkActive="active">
                             <a class="sidebar-link" href="#" routerLink="/profile/dashboard">
                                 <i class="fa-solid fa-gauge"></i>
                                <span class="align-middle">Dashboard</span>
                             </a>
                          </li>
                          <li class="sidebar-item " routerLinkActive="active">
                             <a class="sidebar-link" href="#" routerLink="/profile/tasks">
                                <i class="fa-solid fa-list-check"></i>
                                <span class="align-middle">Tasks</span>
                             </a>
                          </li>
                          <li class="sidebar-item " routerLinkActive="active">
                             <a class="sidebar-link" href="#" routerLink="/profile/attendance">
                                <i class="fa-solid fa-calendar-check"></i>
                                <span class="align-middle">Attendance</span>
                             </a>
                          </li>
                          <li class="sidebar-item " routerLinkActive="active">
                             <a class="sidebar-link" href="#" routerLink="/profile/leave-application">
                              <i class="fa-solid fa-calendar-week"></i>
                                <span class="align-middle">Leave Application</span>
                             </a>
                          </li>
                      </ul>
                      
                   </div>
                </div>
             </div>
          </div>
          <div class="simplebar-placeholder" style="width: auto; height: 957px;"></div>
       </div>
       <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
          <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
       </div>
       <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
          <div class="simplebar-scrollbar" style="height: 812px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
       </div>
    </div>
</nav>