<nav id="sidebar" class="sidebar js-sidebar" appSidebar>
   <ul class="sidebar-menu">
      <li class="sidebar-header">ERP Staff</li>
      <li class="sidebar-item" routerLinkActive="active" >
         <a class="sidebar-link" routerLink="/profile/dashboard"><i class="fa-solid fa-gauge"></i> <span class="align-middle">Dashboard</span></a>
      </li>
      <li class="sidebar-item" routerLinkActive="active" >
         <a class="sidebar-link" routerLink="/profile/tasks"><i class="fa-solid fa-list-check"></i> <span class="align-middle">Tasks</span></a>
      </li>
      <li class="sidebar-item" routerLinkActive="active" >
         <a class="sidebar-link" routerLink="/profile/attendance"><i class="fa-solid fa-calendar-check"></i> <span class="align-middle">Attendance</span></a>
      </li>
      <li class="sidebar-item" routerLinkActive="active" >
         <a class="sidebar-link" routerLink="/profile/leave-application"><i class="fa-solid fa-calendar-minus"></i> <span class="align-middle">Leave application</span></a>
      </li>
      <li class="sidebar-item" routerLinkActive="active" >
         <a class="sidebar-link" routerLink="/profile/worklog"><i class="fa-solid fa-clipboard-check"></i> <span class="align-middle">Worklog</span></a>
      </li>

   </ul>
</nav>