<nav id="sidebar" class="sidebar js-sidebar" appSidebar>
   <ul class="sidebar-menu">
      <li class="sidebar-header">ERP Admin</li>
      <li class="sidebar-item" routerLinkActive="active" *ngIf="hasModules(['dashboard'])">
         <a class="sidebar-link" routerLink="/admin/dashboard"><i class="fa-solid fa-gauge"></i> <span class="align-middle">Dashboard</span></a>
      </li>

      <li class="sidebar-item" *ngIf="hasModules(['admin'])">
        <a class="sidebar-link" >
         <i class="fa-solid fa-crown"></i>  <span class="align-middle">Admin</span>
         <i class="fa-solid fa-angle-left align-end"></i>
        </a>
        <ul class="sidebar-submenu">
          <li routerLinkActive="active"><a href="#" routerLink="/admin/admin-role"><i class="fa-solid fa-ellipsis-vertical"></i> Admin roles</a></li>
          <li routerLinkActive="active"><a href="#" routerLink="/admin/admin-users"><i class="fa-solid fa-ellipsis-vertical"></i> Admin users</a></li>
        </ul>
      </li>

      <li class="sidebar-item" *ngIf="hasModules(['staff','salary'])">
         <a class="sidebar-link"  >
            <i class="fa-solid fa-user-tie"></i> <span class="align-middle">Staffs</span>
            <i class="fa-solid fa-angle-left align-end"></i>
            <span class="badge text-bg-danger align-end" *ngIf="leaveApplicationCount > 0">{{leaveApplicationCount < 99 ? leaveApplicationCount : "+99"}}</span>
         </a>
         <ul class="sidebar-submenu">
           <li routerLinkActive="active" *ngIf="hasModules(['staff'])"><a href="#" routerLink="/admin/staff-role"><i class="fa-solid fa-ellipsis-vertical"></i> Staff roles</a></li>
           <li routerLinkActive="active" *ngIf="hasModules(['staff'])"><a href="#" routerLink="/admin/schedule"><i class="fa-solid fa-ellipsis-vertical"></i> Staff schadule</a></li>
           <li routerLinkActive="active" *ngIf="hasModules(['staff'])"><a href="#" routerLink="/admin/staff-list"><i class="fa-solid fa-ellipsis-vertical"></i> Staff List</a></li>
           <li routerLinkActive="active" *ngIf="hasModules(['staff'])"><a href="#" routerLink="/admin/attendance"><i class="fa-solid fa-ellipsis-vertical"></i> Attendance</a></li>
           <li routerLinkActive="active" *ngIf="hasModules(['staff'])">
            <a href="#" routerLink="/admin/leave-application"><i class="fa-solid fa-ellipsis-vertical"></i> Leave applications 
               <span class="badge text-bg-danger align-end" *ngIf="leaveApplicationCount > 0">{{leaveApplicationCount < 99 ? leaveApplicationCount : "+99"}}</span>
            </a>
         </li>
           <li routerLinkActive="active" *ngIf="hasModules(['salary'])"><a href="#" routerLink="/admin/salary"><i class="fa-solid fa-ellipsis-vertical"></i> Salary</a></li>
         </ul>
       </li>

       <li class="sidebar-item" *ngIf="hasModules(['project'])">
         <a class="sidebar-link" >
            <i class="fa-solid fa-laptop-code"></i> <span class="align-middle">Projects</span>
          <i class="fa-solid fa-angle-left align-end"></i>
            <span class="badge text-bg-danger align-end" *ngIf="taskCount > 0 || worklogCount > 0">{{(taskCount + worklogCount) < 99 ? (taskCount + worklogCount) : "+99"}}</span>
         </a>
         <ul class="sidebar-submenu">
           <li routerLinkActive="active"><a href="#" routerLink="/admin/upcomming-projects"><i class="fa-solid fa-ellipsis-vertical"></i> Upcomming</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/ongoing-projects"><i class="fa-solid fa-ellipsis-vertical"></i> Ongoing</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/completed-projects"><i class="fa-solid fa-ellipsis-vertical"></i> Completed</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/manage-tasks"><i class="fa-solid fa-ellipsis-vertical"></i> Tasks 
            <span class="badge text-bg-danger align-end" *ngIf="taskCount > 0">{{taskCount < 99 ? taskCount : "+99"}}</span>
            </a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/worklog"><i class="fa-solid fa-ellipsis-vertical"></i> Worklogs 
            <span class="badge text-bg-danger align-end" *ngIf="worklogCount > 0">{{worklogCount < 99 ? worklogCount : "+99"}}</span>
         </a></li>
         </ul>
       </li>

       <li class="sidebar-item" *ngIf="hasModules(['course'])">
         <a class="sidebar-link" >
            <i class="fa-solid fa-chalkboard-user"></i> <span class="align-middle">Courses</span>
          <i class="fa-solid fa-angle-left align-end"></i>
         </a>
         <ul class="sidebar-submenu">
           <li routerLinkActive="active"><a href="#" routerLink="/admin/courses"><i class="fa-solid fa-ellipsis-vertical"></i> Courses</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/enquiry"><i class="fa-solid fa-ellipsis-vertical"></i> Enquiry</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/students"><i class="fa-solid fa-ellipsis-vertical"></i> Students</a></li>
         </ul>
       </li>

       <li class="sidebar-item" *ngIf="hasModules(['billing'])">
         <a class="sidebar-link" >
            <i class="fa-solid fa-cash-register"></i> <span class="align-middle">Billing</span>
          <i class="fa-solid fa-angle-left align-end"></i>
         </a>
         <ul class="sidebar-submenu">
           <li routerLinkActive="active"><a href="#" routerLink="/admin/billing"><i class="fa-solid fa-ellipsis-vertical"></i> Billing</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/invoices/project"><i class="fa-solid fa-ellipsis-vertical"></i> Project Invoices</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/invoices/course"><i class="fa-solid fa-ellipsis-vertical"></i> Course Invoices</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/invoices/rent"><i class="fa-solid fa-ellipsis-vertical"></i> Rent Invoices</a></li>
         </ul>
       </li>

       <li class="sidebar-item" *ngIf="hasModules(['expenses'])">
         <a class="sidebar-link" >
            <i class="fa-solid fa-money-bill-transfer"></i> <span class="align-middle">Expenses</span>
          <i class="fa-solid fa-angle-left align-end"></i>
         </a>
         <ul class="sidebar-submenu">
           <li routerLinkActive="active"><a href="#" routerLink="/admin/expense-type"><i class="fa-solid fa-ellipsis-vertical"></i> Expense Type</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/expense"><i class="fa-solid fa-ellipsis-vertical"></i> Expenses List</a></li>
         </ul>
       </li>

       <li class="sidebar-item" *ngIf="hasModules(['assets'])">
         <a class="sidebar-link" >
            <i class="fa-solid fa-desktop"></i> <span class="align-middle">Assets</span>
          <i class="fa-solid fa-angle-left align-end"></i>
         </a>
         <ul class="sidebar-submenu">
           <li routerLinkActive="active"><a href="#" routerLink="/admin/assets-type"><i class="fa-solid fa-ellipsis-vertical"></i> Assets Type</a></li>
           <li routerLinkActive="active"><a href="#" routerLink="/admin/assets"><i class="fa-solid fa-ellipsis-vertical"></i> Assets List</a></li>
         </ul>
       </li>
       <li class="sidebar-item" routerLinkActive="active" *ngIf="hasModules(['others'])">
         <a class="sidebar-link" routerLink="/admin/incomes"><i class="fa-solid fa-money-bill-trend-up"></i> <span class="align-middle">Incomes</span></a>
      </li>

      <li class="sidebar-item">
         <a class="sidebar-link" >
            <i class="fa-solid fa-print"></i> <span class="align-middle">Reports</span>
          <i class="fa-solid fa-angle-left align-end"></i>
         </a>
         <ul class="sidebar-submenu">
           <li routerLinkActive="active"><a href="#" routerLink="/admin/report/staff"><i class="fa-solid fa-ellipsis-vertical"></i> Staff report</a></li>
         </ul>
       </li>
   </ul>
</nav>