<div class="row g-3">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Projects</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            <i class="fa-solid fa-diagram-project"></i>
                        </div>
                    </div>
                </div>
                <table class="borderless-table">
                    <tbody>
                        <tr>
                            <td><span class="text-muted">Upcomming</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{projects.upcomming}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted">Inprogress</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{projects.ongoing}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted">Completed</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{projects.completed}} </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Staffs</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            <i class="fa-solid fa-user-tie"></i>
                        </div>
                    </div>
                </div>
                <table class="borderless-table">
                    <tbody>
                        <tr>
                            <td><span class="text-muted">Total</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{staffs.total}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted">Present</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{staffs.present}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted">Leave</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{staffs.leave}} </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Students</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            <i class="fa-solid fa-user-graduate"></i>
                        </div>
                    </div>
                </div>
                <table class="borderless-table">
                    <tbody>
                        <tr>
                            <td><span class="text-muted">Total</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{students.total}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted">Studying</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{students.studying}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted">Completed</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{students.completed}} </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Assets</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            <i class="fa-solid fa-cubes"></i>
                        </div>
                    </div>
                </div>
                <table class="borderless-table">
                    <tbody>
                        <tr>
                            <td><span class="text-muted">Laptop</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{assets.laptop}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted">Desktop</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{assets.desktop}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted">Scanner</span></td>
                            <td>:</td>
                            <td><span class="text-primary"> {{assets.scanner}} </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row g-3">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Overall progress</h5>
            </div>
            <div class="card-body">
                <canvas class="container" style="display: block;" id="progress-pie-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4 pb-4">
        <div class="card  h-100">
            <div class="card-header">
                <h5 class="card-title">Project reminders</h5>
            </div>
            <div class="card-body">
                <table class="borderless-table">
                    <tbody>
                        <tr *ngFor="let schedule of projectSchedules;index as i;">
                            <td>{{i+1}}.</td>
                            <td><span class="text-muted">{{schedule.project.project_name}}</span></td>
                            <td>:</td>
                            <td><span class="text-primary">{{schedule.project.client_name}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4 pb-4">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title">Courses</h5>
            </div>
            <div class="card-body">
                <table class="borderless-table">
                    <tbody>
                        <tr>
                            <td><span class="text-muted" style="font-size: 15px;">Total Enquiry</span></td>
                            <td style="font-size: 15px;">:</td>
                            <td><span class="text-primary" style="font-size: 15px;"> {{courses.total}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted" style="font-size: 15px;">Monthly Enquiry</span></td>
                            <td style="font-size: 15px;">:</td>
                            <td><span class="text-primary" style="font-size: 15px;"> {{courses.monthly}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted" style="font-size: 15px;">Follow Up's</span></td>
                            <td style="font-size: 15px;">:</td>
                            <td><span class="text-primary" style="font-size: 15px;"> {{courses.followups}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted" style="font-size: 15px;">Today callbacks</span></td>
                            <td style="font-size: 15px;">:</td>
                            <td><span class="text-primary" style="font-size: 15px;"> {{courses.today_callbacks}} </span></td>
                        </tr>
                        <tr>
                            <td><span class="text-muted" style="font-size: 15px;">Converted</span></td>
                            <td style="font-size: 15px;">:</td>
                            <td><span class="text-primary" style="font-size: 15px;"> {{courses.converted}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row g-3">
    <div class="col-6">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title">Attendance Report</h5>
                <div class="form-input">
                    <select class="form-select form-select-sm" name="attendaceFilter" [(ngModel)]="attendaceFilter" (change)="GetAttendanceReport()">
                        <option value="monthly">Monthly</option>
                        <option value="weekly">Weekly</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <canvas class="container" style="height: 300px;max-height: 300px;" id="attendance-bar-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Overall progress</h5>
            </div>
            <div class="card-body">
                <canvas class="container" style="height: 300px;" id="allprogress-bar-chart"></canvas>
            </div>
        </div>
    </div>
</div>