<div class="waraper">
    <div class="card" >
        <div class="card-body">
            <div class="text-center mb-3"><h3>Staff login</h3></div>
            <form action="">
                <div class="form-group mb-3">
                    <label for="">Staff ID</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="">Status</label>
                    <select class="form-select">
                        <option value="NA">-- Select Status --</option>
                        <option value="login">Login</option>
                        <option value="lunch in">Lunch out</option>
                        <option value="lunch out">Lunch in</option>
                        <option value="break in">Break out</option>
                        <option value="break out">Break in</option>
                        <option value="logout">Logout</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-success w-100">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>